/* Estilos generales para el cuerpo */
body {
    margin: 0;
    padding: 0;
    font-family: Courier, monospace;
    background-color: #0d0d0d;
    color: #ffffff;
    display: flex;
    flex-direction: column; /* Asegura que el contenido fluya verticalmente */
    align-items: center; /* Centra horizontalmente los elementos */
    text-align: center;
    min-height: 100vh; /* Asegura que el cuerpo ocupe toda la altura del viewport */
    outline: none;
    overflow-y: auto; /* Permite el scroll vertical */
}

/* Estilos del encabezado */
.header h1 {
    font-size: 3em;
    color: #00ffcc;
    margin-top: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* Estilos del logo */
.logo-container {
    margin-top: 30px;
}

.logo {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* Hace que el logo sea circular */
    transition: transform 0.6s ease-in-out; /* Suaviza la animación del logo */
    cursor: pointer;
    margin-bottom: 30px;
}

/* Contenedor de enlaces */
.links-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que los enlaces se ajusten en pantallas pequeñas */
    gap: 15px; /* Espaciado entre enlaces */
}

/* Botones o enlaces */
.links a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    padding: 12px 20px;
    width: 70%;
    max-width: 400px;
    margin: 15px auto;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    background-color: #00ffcc;
    color: #000000;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.links a:hover {
    background-color: #3f3f3f;
    color: #ffffff;
}

.links a:active {
    background-color: #007f7f;
    transform: scale(0.95);
}

/* Contenedor de descripción */
.description-container {
    max-width: 600px;
    padding: 20px;
    margin-top: 20px;
}

.description h2 {
    font-size: 1.8em;
    color: #b1b1b1;
    margin-bottom: 15px;
}

.description p {
    font-size: 1.1em;
    line-height: 1.6em;
    color: #f0f0f0;
}

/* Estilos del footer */
footer {
    position: fixed;
    bottom: 0;
    width: calc(100% - 20px);
    padding: 15px;
    font-size: 1em;
    background-color: #0d0d0d;
    transition: transform 0.3s ease-in-out;
}

/* Clase para ocultar el footer */
footer.hidden {
    transform: translateY(100%); /* Oculta el footer fuera de la pantalla */
    transition: transform 0.3s ease-in-out; /* Suaviza la transición al ocultar/mostrar */
}


/* Enlaces dentro del footer */
.footer-a {
    color: #00ffcc;
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

/* Estilos responsivos */
@media (max-width: 770px) {
    body {
        padding-bottom: calc(50px + env(safe-area-inset-bottom));
    }

    .header h1 {
        font-size: 2.3em;
    }

    .logo {
        max-width: 200px;
    }
}

@media (max-width: 480px) {
    .description h2 {
        font-size: 2em;
    }

    .description p {
        font-size: 1.3em;
        margin: 15px;
    }
}
