* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Courier, monospace;
    background-color: #0d0d0d;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
 /*    min-height: 100vh;
    overflow: hidden; Evita desplazamiento en PC */
}

.logo:hover {
    box-shadow: 0px 0px 40px #c0c0c0;
}

.header h1 {
    font-size: 3em;
    color: #00ffcc;
    margin-top: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.logo-container {
    margin-top: 20px;
}

.logo {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
    transition: transform 0.6s ease;
    cursor: pointer;
    outline: none; /* Elimina el cuadro azul */
    will-change: transform;
}

/* Estilos de los enlaces */
.links a {
    color: #00ffcc;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.3s, transform 0.2s;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Efecto de cambio de color y escala al pasar el puntero */
.links a:hover {
    color: #a8a8a8;
    transform: scale(1.1);
}

/* Animación de pulso persistente para dispositivos móviles */
@media (hover: none) {
    .links a {
        animation: pulse 1.5s infinite;
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

.description {
    max-width: 600px;
    padding: 20px;
    margin-top: 20px;
}

.description h2 {
    font-size: 1.8em;
    color: #b1b1b1;
    margin-bottom: 0;
}

.description p {
    font-size: 1.1em;
    line-height: 1.6em;
    color: #f0f0f0;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 5px;
    padding: 2px;
    color: #ffffff;
    font-size: 1em;
    background-color: #2b2b2b11; /* Agrega un fondo para que se vea mejor */
}


/* Diseño responsivo */
@media (max-width: 768px) {
    .logo {
        width: 220px;
        height: 220px;
    }

    .description {
        padding: 20px;
    }
}
